/* src/App.css */

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  height: 100%;
  background: linear-gradient(to bottom right, #F8F8FC, #E1E2E8);
  background-attachment: fixed;
  overflow: auto;
}

#root, .App {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

/* Header styles */
.app-header {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 24px;
  text-align: center;
  color: #757575;
}

.youtube-icon-header {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  background: linear-gradient(145deg, #F2F3F6, #E5E6EC);
  box-shadow: inset 3px 3px 3px #d1d1d1,
              inset -3px -3px 3px #ffffff;
  margin-right: 20px;
}

.user-icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  background: linear-gradient(-145deg, #F2F3F6, #E5E6EC);
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
  margin-left: auto;
}

.user-icon-container:hover {
  background: linear-gradient(145deg, #E5E6EC, #F2F3F6);
  box-shadow: inset 3px 3px 3px #d1d1d1,
              inset -3px -3px 3px #ffffff;
}

.user-icon-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #757575;
  margin-bottom: 15px;
  margin-top: 5px;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.35);
}

/* Category dropdown styles */
.category-dropdown {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.category-dropdown select {
  padding: 10px 60px 10px 40px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(145deg, #F2F3F6, #E5E6EC);
  box-shadow: 5px 5px 7px #bebebe, -5px -5px 7px #ffffff;
  color: #757575;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23757575' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 20px;
}

.category-dropdown select:hover {
  box-shadow: inset 3px 3px 3px #d1d1d1, inset -3px -3px 3px #ffffff;
}

.category-dropdown select:focus {
  outline: none;
  box-shadow: inset 3px 3px 3px #d1d1d1, inset -3px -3px 3px #ffffff;
}

.category-dropdown select::-ms-expand {
  display: none;
}

/* Footer styles */
.footer {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  color: #757575;
}

/* Global styles for buttons, if any */
button {
  cursor: pointer;
}

.load-more-container {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
  margin-top: -20px;
}

.load-more-button {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(145deg, #F2F3F6, #E5E6EC);
  box-shadow: 5px 5px 7px #bebebe, -5px -5px 7px #ffffff;
  color: #757575;
  cursor: pointer;
  transition: all 0.3s ease;
}

.load-more-button:hover {
  background: linear-gradient(145deg, #E5E6EC, #F2F3F6);
  box-shadow: inset 3px 3px 3px #d1d1d1, inset -3px -3px 3px #ffffff;
  color: #585858;
}

.load-more-button:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  margin: 16px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(145deg, #E5E6EC, #F2F3F6);
  border-radius: 10px;
  background-clip: content-box;
  border: 4px solid rgba(0, 0, 0, 0);
  box-shadow: 
    inset -2px -2px 3px rgba(255, 255, 255, .9),
    inset 2px 2px 3px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(145deg, #e1e2e6, #E5E6EC);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .app-header {
    width: 95vw;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
  }

  .youtube-icon-header,
  .user-icon-container {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 480px) {
  /* Add any global responsive styles for smaller screens */
}